/* General Styling and Appearance */


/* Site Reset */
* {
  box-sizing: border-box;
  margin: 0;
}
/* Element Styling */
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  background: #f7f7f7;
  font-family: 'Roboto', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #323643;
  padding: 30px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  background: #323643;
  color: #f7f7f7;
  margin: 20px 0px;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  padding: 3%;
  background: #f7f7f7;
  z-index: 1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 30px;
}

li {
  list-style-type: none;
}

a {
  color: #323643;
  text-decoration: none;
}

section img {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

footer {
  width: 100%;
  text-align: center;
  background: #323643;
  color: #f7f7f7;
  padding: 50px 0px;
  font-family: 'Playfair Display', serif;
}

/* Individual Class Styling */

.scrolling-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  opacity: .97;
}

.navbaritem {
  font-size: 1.2em;
  color:#323643;
}

.coverimg {
  position: relative;
}

.coverimg img {
  height: 650px;
  width: 100%;
}

.covertext {
  position: absolute;
  color: #f7f7f7;
  text-shadow: -3px 3px black;
  font-size: 4em;
  top: 40%;
  left: 10%;
  text-align: center;
}

.imagetext {
  font-family: 'Playfair Display', serif;
}

.artist {
  position: absolute;
  color: #f7f7f7;
  font-size: .7em;
  bottom: 5px;
  right: 5px;
}

.servicesheading {
  width: 100%;
  background: #f7f7f7;
  color: #323643;
  font-size: 2em;
  padding: 50px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.row .col {
  padding: 0;
}

.row {
  margin-bottom: 0;
}

.section {
  position: relative;
}

.imagetext {
  position: absolute;
  color: #f7f7f7;
  text-shadow: -3px 3px black;
  font-size: 4em;
  top: 26%;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.1em;
  color:#323643;
  padding: 70px 30px;
  font-family: 'Roboto', serif;
}

.contactlink a {
  color: #f7f7f7;
  margin: auto;
  display: inline-block;
  padding-bottom: 4px;
}

.contactlink {
  margin-top: 15px;
}

.calltoaction {
  width: 200px;
  margin: 15px 0px 30px;
}

.visit {
  margin-bottom: 30px;
}

.visitlink a {
  color: #f7f7f7;
}

.visitlink {
  display: inline-block;
  padding-bottom: 4px;
}

.visitheader {
  margin-bottom: 10px;
}
/* Animation Effects */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #f7f7f7;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}