/* General Styling and Appearance */

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  background: #f7f7f7;
  font-family: 'Roboto', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #323643;
  padding: 30px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  background: #323643;
  color: #f7f7f7;
  margin: 20px 0px;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  padding: 1%;
  background: #f7f7f7;
  z-index: 1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 30px;
}

.scrolling-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  opacity: .97;
}

.navbaritem {
  font-size: 1.2em;
  color:#323643;
}

li {
  list-style-type: none;
}

a {
  color: #323643;
  text-decoration: none;
}

.coverimg {
  position: relative;
}

.coverimg img {
  height: 650px;
  width: 100%;
}

.covertext {
  position: absolute;
  color: #f7f7f7;
  text-shadow: -3px 3px black;
  font-size: 4em;
  top: 40%;
  left: 10%;
  text-align: center;
}

.imagetext {
  font-family: 'Playfair Display', serif;
}

.artist {
  position: absolute;
  color: #f7f7f7;
  font-size: .7em;
  bottom: 5px;
  right: 5px;
}

.servicesheading {
  width: 100%;
  background: #f7f7f7;
  color: #323643;
  font-size: 2em;
  padding: 50px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

section img {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

.row .col {
  padding: 0;
}

.row {
  margin-bottom: 0;
}

.section {
  position: relative;
}

.imagetext {
  position: absolute;
  color: #f7f7f7;
  text-shadow: -3px 3px black;
  font-size: 4em;
  top: 26%;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.1em;
  color:#323643;
  padding: 70px 30px;
  font-family: 'Roboto', serif;
}

footer {
  width: 100%;
  text-align: center;
  background: #323643;
  color: #f7f7f7;
  padding: 40px;
  font-family: 'Playfair Display', serif;
}

.contact a {
  color: #f7f7f7;
  margin: auto;
  display: inline-block;
  padding-bottom: 4px;
}

.contact {
  margin: 15px 0px;
}

.calltoaction {
  width: 200px;
  margin: 15px 0px;
}

/* Animation Effects */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #f7f7f7;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
